h1 {
    color: rgb(21, 42, 226);
    border: 5px solid rgb(21, 1, 97);
    border-radius: 20px;
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fgiphy.com%2Fexplore%2Fsolo-leveling&psig=AOvVaw3FBcGyE3Qj1MN8QKum3ZbA&ust=1709155868713000&source=images&cd=vfe&opi=89978449&ved=0CBAQjRxqFwoTCJCOzPW7zIQDFQAAAAAdAAAAABAS);
}

h2{
    color: rgb(21, 42, 226);
    border: 5px solid rgb(19, 0, 87);
    border-radius: 20px;
}
body{ 
    background-color: rgb(255, 255, 255);
    font-size:20px;
    font-style: italic;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    font-family: Arial;
    width: 900px;
    height: 900px; 
}









