h1 {
    color: rgb(21, 42, 226);
    border: 5px solid rgb(0, 16, 156);
    border-radius: 20px;

}

h2{
    color: rgb(21, 42, 226);
}
body{ 
    background-color: rgb(255, 255, 255);
    font-size:20px;
    font-style: italic;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    font-family: Arial;
    width: 900px;
    height: 900px; 
}









