h1 {
    color: rgb(21, 42, 226);
    border: 5px solid rgb(21, 1, 97);
    border-radius: 20px;
    
}

h2{
    color: rgb(21, 42, 226);
    border: 5px solid rgb(19, 0, 87);
    border-radius: 20px;
}
body{ 
    background-color: rgb(255, 255, 255);
    font-size:20px;
    font-style: italic;
    text-align: center;
    font-weight: bold;
    font-family: Arial;
    width: 50;
    height: 50PX; 
}
p{
     color: rgb(11, 147, 245);

}

#características-especial{
    color: rgb(87, 7, 198);
}

#características-2{
    color: rgb(87, 7, 198);
}
#características-1{
    color: rgb(87, 7, 198);
}

.content{
    color: rgba(87, 7, 198);
    text-align: center;
    
   
    margin: 2px solid rgb(2, 2, 255);
}
body{
    background-image: url('/img/4305090653ee4239dd0d797f1a4a6bdf.jpe');
    background-repeat:no-repeat ;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color:blue  url('/img/4305090653ee4239dd0d797f1a4a6bdf.jpe') ;
    
}
.cor{
    color: rgb(87, 7, 198);
}

.content{
    text-align: center;
    margin: auto;
    width: 50%;
    opacity: 0.98;
    background-color:rgb(0, 0, 0); 
}

.mudar-2{
    width:calc(100vw - 30);
    margin: 30px;
}
