h1{
    color: brown;
    font-family:Arial;
    margin: auto;
   
}
body{
    background-color: rgb(255, 255, 255);
    text-align:center;
    background-image: url('/site/img/Death-Note2.webp');
    background-position: center;
    background-size:cover;


}
img{
    width: 200px;;
    margin: 200px;;
    min-width: 275px;
    
}
.cor-ruim{
    color: brown;
}
h2{
    color: brown;
    width: 200;
    height: 200;
}
.cor-ruim{
    color: brown;
 
}
.cor-ruim2{
    color: brown;
}